/*hamburger start*/

.navigation-button {
    margin: 20px auto;
    width: 65px;
    height: 65px;
    cursor: pointer;
}

.navigation-button svg {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    transition: transform 1s;
    -webkit-transition: transform 1s;
}

.active.navigation-button svg {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}

.navigation-button .nav_bar_1 {
    transform: rotate(0) translateX(0) translateY(0);
    -webkit-transform: rotate(0) translateX(0) translateY(0);
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.navigation-button .nav_bar_2 {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.navigation-button .nav_bar_3 {
    transform: rotate(0) translateX(0) translateY(0);
    -webkit-transform: rotate(0) translateX(0) translateY(0);
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.active.navigation-button .nav_bar_1 {
    transform: rotate(45deg) translateX(13px) translateY(-26px);
    -webkit-transform: rotate(45deg) translateX(13px) translateY(-26px);
}

.active.navigation-button .nav_bar_2 {
    opacity: 0;
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
}

.active.navigation-button .nav_bar_3 {
    transform: rotate(-45deg) translateX(-33px) translateY(6px);
    -webkit-transform: rotate(-45deg) translateX(-33px) translateY(6px);
}


/*hamburger end*/


/*rollover square skew start*/

.skew_hover_button {
    cursor: pointer;
    width: 130px;
    height: 15px;
    margin: 20px auto;
    padding: 13px 0 15px 0;
    border: 1px solid #808080;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #808080;
    transition: 0.3s;
    overflow: hidden;
}

.skew_hover_button p {
    display: block;
    position: relative;
    z-index: 2;
    margin-top: -80px;
}

.skew_hover_button:before {
    display: block;
    content: "";
    position: relative;
    z-index: 1;
    width: 130px;
    height: 80px;
    background-color: #808080;
    transform: skewY(15deg);
    top: -120px;
    transition: 0.3s;
}

.skew_hover_button:hover:before {
    top: -32px;
}

.skew_hover_button:hover {
    color: #fff;
}


/*rollover square skew start*/


/*rollover radius s*/

.radius_btn {
    cursor: pointer;
    width: 130px;
    height: 15px;
    margin: 50px auto;
    padding: 13px 0 15px 0;
    border: 1px solid #808080;
    border-radius: 50px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #808080;
    transition: 0.3s;
    overflow: hidden;
}

.radius_btn:before {
    content: "";
    display: block;
    position: relative;
    top: 55px;
    left: -45px;
    width: 45px;
    height: 45px;
    background-color: #808080;
    border-radius: 400px;
    transition: 0.4s;
}

.radius_btn p {
    position: relative;
    top: -46px;
}

.radius_btn:hover:before {
    width: 130px;
    height: 130px;
    top: -55px;
    left: 0px;
}

.radius_btn:hover p {
    top: -133px;
    color: #fff;
}


/*rollover radius e*/


/*onoff start*/

.onoff_wrap {
    width: 67px;
    margin: 40px auto;
}

.onoff {
    float: left;
    cursor: pointer;
    width: 40px;
    height: 14px;
    background-color: #3c3c3c;
    border-radius: 7px;
    transition: 0.3s;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.85);
}

.onoff_switch {
    position: relative;
    bottom: 3px;
    left: 0px;
    width: 16px;
    height: 16px;
    border: 2px solid #808080;
    border-radius: 10px;
    background-color: #808080;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}

.active.onoff {
    background-color: #29ABE2;
    box-shadow: 0 0 12px #29abe2
}

.active.onoff .onoff_switch {
    left: 22px;
    border: 2px solid #a9f3fd;
    background-color: #29ABE2;
    box-shadow: 0 0 29px #29abe2;
}


/*body light on off*/

.light {
    display: inline-block;
    width: 80%;
    margin: 5% 10%;
    background-color: #1A1A1A;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.5);
    transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
    overflow: hidden;
}

.active.light {
    background-color: #ccc;
}


/*body light on off*/

.onoff_light {
    float: left;
    margin: 4px 10px;
    width: 7px;
    height: 7px;
    background-color: #808080;
    border-radius: 10px;
    transition: 0.2s;
}

.active.onoff_light {
    background-color: #29abe2;
    box-shadow: 0 0 12px #84daff;
}


/*onoff end*/

.skew_row {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100px;
    padding: 200px 0;
    background-color: rgba(255, 255, 255, 0.05);
    transform: skewY(15deg);
    margin: -165px 0;
    text-align: center;
}

.skew_row p {
    display: block;
    margin: 0 auto;
    font-size: 55px;
    font-weight: bold;
    line-height: 3;
    color: #808080;
    transform: skewY(-15deg);
}


/*search btn s*/

.search_wrap {
    width: 46px;
    height: 46px;
    display: inline-block;
    padding: 0;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.075);
    overflow: hidden;
}

@media(max-width:500px) {
    .search_wrap {
        position: relative;
        left: 40px;
    }
    .board-list .active .search_wrap{
      left:0;
    }
}

.search_wrap input {
    display: inline-block;
    position: relative;
    top: 45px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-color: rgba(0, 0, 0, 0);
    width: 222px;
    height: 32px;
    color: #78909C;
    opacity:0;
}

.search_button {
    cursor: pointer;
    position: relative;
    left: 0;
    bottom: 32px;
    margin: 0 auto;
    width: 46px;
    height: 46px;
    border-radius: 2px;
    transition: 0.2s;
    z-index: 999;
    transform: rotate(90deg);
}

.search_button:hover {
    background-color: #EDEDED;
}

.search_button i {
    padding: 7px;
    font-size: 35px;
    color: #78909C;
    transition: 0.3s;
}


/*진도현황버튼 시작*/

.status-box.search_wrap {
    width: 46px;
    height: 46px;
    display: inline-block;
    padding: 0;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.075);
    overflow: hidden;
}

.status-box.search_wrap input {
    display: inline-block;
    position: relative;
    top: 45px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-color: rgba(0, 0, 0, 0);
    width: 222px;
    height: 32px;
    color: #fff;
    transition: 1s;
}

.status-box .search_button {
    cursor: pointer;
    position: relative;
    left: 0;
    bottom: 32px;
    margin: 0 auto;
    width: 46px;
    height: 46px;
    border-radius: 2px;
    transition: 0.2s;
    z-index: 999;
    transform: rotate(90deg);
}

.status-box .search_button:hover {
    background-color: #EDEDED;
}

.status-box .search_button i {
    padding: 7px;
    font-size: 27px;
    color: #999999;
    transition: 0.3s;
}

.status-box.active.search_wrap {
    font-size: 15px;
}


/*진도현황벼튼끝*/

.board-list .active .search_wrap {
    width: 220px;
    height: 40px;
    padding: 3px 4px 4px 1.1em;
    border-radius: 46px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 2px rgba(1, 1, 1, 1);
}

.board-list .active.search_button {
    width: 38px;
    height: 38px;
    bottom: 34px;
    left: 83px;
    border-radius: 46px;
    transform: rotate(0deg);
}

.board-list .active i {
    padding: 7px;
    font-size: 26px;
}

.board-list .active input {
    top: 2px;
    width: 100%;
}

.board-list .active .search_wrap {
    width: 220px;
    height: 40px;
    padding: 3px 4px 4px 1.1em;
    border-radius: 46px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 2px rgba(1, 1, 1, 1);
}

.active.search_button {
    width: 38px;
    height: 38px;
    bottom: 34px;
    left: 113px;
    border-radius: 46px;
    transform: rotate(0deg);
}

.active i {
    padding: 7px;
    font-size: 26px;
}

.active input {
    top: 2px;
    width: 100%;
    opacity: 1;
}
